<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar" style="height:95%"data-ps-id="d14fc41c-2d0e-5e20-d2a0-c71f5fd9d54d">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <li class="sidebar-item">
          <a
            class="sidebar-link waves-effect waves-dark sidebar-link"
            href="/dashboard"
            aria-expanded="false"
            ><i class="me-2 mdi mdi-view-dashboard"></i
            ><span class="hide-menu">Dashboard</span></a
          >
        </li>
        <li class="nav-small-cap">
          <i class="nav-small-line"></i>
          <span class="hide-menu">Fitur</span>
        </li>
        
        <!--
        <li class="sidebar-item">
          <a
            class="sidebar-link has-arrow waves-effect waves-dark"
            href="javascript:void(0)"
            aria-expanded="false"
            ><i class="ri-government-fill"></i
            ><span class="hide-menu">Pemerintahan </span></a
          >
          <ul aria-expanded="false" class="collapse first-level">
            <li class="sidebar-item">
              <a href="/admin/anggota" class="sidebar-link"
                ><i class="me-2 mdi mdi-account-multiple"></i
                ><span class="hide-menu"> Anggota </span></a
              >
            </li>
            <li class="sidebar-item">
              <a href="/admin/visimisi" class="sidebar-link"
                ><i class="ri-file-paper-line"></i
                ><span class="hide-menu"> Visi Dan Misi </span></a
              >
            </li>
            <li class="sidebar-item">
              <a href="/admin/bpd" class="sidebar-link"
                ><i class="me-2 mdi mdi-account-multiple"></i
                ><span class="hide-menu"> BADAN PEMUSYAWARATAN DESA (BPD) </span></a
              >
            </li>
          </ul>
        </li>  -->
		
                {% if session['role'] == 'admin' %}
        <li class="sidebar-item">
                <a class="sidebar-link" href="/admin/semester"><i class="fas fa-calendar mr-2 "></i><span class="hide-menu"> Semester</span></a>
        </li>
        <li class="sidebar-item">
                <a class="sidebar-link" href="/admin/kelas"><i class="fas fa-users mr-2 "></i><span class="hide-menu"> Kelas</span></a>
        </li>
        <li class="sidebar-item">
                <a class="sidebar-link" href="/admin/siswa"><i class="fas fa-users mr-2 "></i><span class="hide-menu"> Siswa</span></a>
        </li>
        <li class="sidebar-item">
        </li>
        <li class="sidebar-item">
                <a class="sidebar-link" href="/admin/pembagian_kelas"><i class="fas fa-random mr-2 "></i><span class="hide-menu"> Pembagian Kelas</span></a>
        </li>
        <li class="sidebar-item">
                <a class="sidebar-link" href="/admin/ampu_mapel"><i class="fas fa-book mr-2 "></i><span class="hide-menu"> Ampu Mapel</span></a>
        </li>
        <li class="sidebar-item">
                <a class="sidebar-link" href="/manage_jadwal"><i class="fas fa-calendar-alt mr-2 "></i><span class="hide-menu"> Jadwal</span></a>
        </li>
        <li class="sidebar-item">
                <a class="sidebar-link" href="/tambah_guru"><i class="fas fa-user-plus mr-2 "></i><span class="hide-menu"> Tambah Guru</span></a>
        </li>
        <li class="sidebar-item">
                <a class="sidebar-link" href="/menu_pembayaran"><i class="fas fa-credit-card mr-2 "></i><span class="hide-menu"> Tambah Pembayaran</span></a>
        </li>
        <li class="sidebar-item">
                <a class="sidebar-link" href="/kbm/list" id="link-kehadiran"><i class="fas fa-user mr-2"></i><span class="hide-menu"> Manage Kehadiran</span></a>
        </li>
        <li class="sidebar-item">
                <a class="sidebar-link" href="/manage_pengumuman"><i class="fas fa-file-alt mr-2"></i><span class="hide-menu"> Manage Pengumuman</span></a>
        </li>
                {% elif session['role'] == 'guru' %}
        <li class="sidebar-item">
                <a class="sidebar-link" href="/kbm/list" id="link-kehadiran"><i class="fas fa-users mr-2"></i><span class="hide-menu"> Input KBM</span></a>
        </li>
        <li class="sidebar-item">
                <a class="sidebar-link" href="/manage_jadwal" id="link-jadwal"><i class="fas fa-calendar-alt mr-2"></i><span class="hide-menu"> Jadwal</span></a>
        </li>
        <li class="sidebar-item">
                <a class="sidebar-link" href="/manage_pengumuman"><i class="fas fa-file-alt mr-2"></i><span class="hide-menu"> Lihat Pengumuman</span></a>
        </li>
                {% elif session['role'] == 'murid' %}
        <li class="sidebar-item">
                <a class="sidebar-link" href="/murid/kehadiran" id="link-kehadiran"><i class="fas fa-user-check mr-2"></i><span class="hide-menu"> Kehadiran</span></a>
        </li>
        <li class="sidebar-item">
                <a class="sidebar-link" href="/jadwal" id="link-jadwal"><i class="fas fa-calendar-alt mr-2"></i><span class="hide-menu"> Jadwal</span></a>
        </li>
        <li class="sidebar-item">
                <a class="sidebar-link" href="/pengumuman"><i class="fas fa-file-alt mr-2"></i><span class="hide-menu"> Pengumuman</span></a>
        </li>
        <li class="sidebar-item">
                <a class="sidebar-link" href="/menu_pembayaran"><i class="fas fa-cash-register mr-2 "></i><span class="hide-menu"> Pembayaran</span></a>
        </li>
                {%  endif %}
        
      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
  <!-- Bottom points-->
  <!-- End Bottom points-->
</aside>