flask
flask-bcrypt
flask-cors
flask-mail
pymongo
python-dotenv
requests
midtransclient
gunicorn
pyjwt
flask_sqlalchemy
pymysql
Pillow
flask-jwt-extended
flask-security
email_validator
python-dateutil
num2words
faker
pandas
openpyxl 
reportlab