{% extends "layout.html" %}

{% block content %}
<h2>Daftar Mapel yang Anda Ampu</h2>
<ul>
  {% for ampu in ampu_list %}
    <li>
	{{ ampu.mapel_rel.nama_mapel }} – 
	{% if ampu.pembagian_rel and ampu.pembagian_rel.kelas_rel %}
	  {{ ampu.pembagian_rel.kelas_rel.nama_kelas }}
	{% else %}
	  <span class="text-danger">[Kelas Tidak Ditemukan]</span>
	{% endif %}

      <br>
      <a href="{{ url_for('input_kbm', id_ampu=ampu.id_ampu) }}">Input KBM</a> |
      <a href="{{ url_for('daftar_kbm', id_ampu=ampu.id_ampu) }}">Lihat KBM & Input Kehadiran</a>
    </li>
  {% endfor %}
</ul>
{% endblock %}
