
{% extends "layout.html" %}

{% block form_tambah %}
    <div class="col-md-4">
        <label for="tanggal" class="form-label">Tanggal</label>
        <input type="date" class="form-control" name="tanggal" id="tanggal" required>
    </div>
    <div class="col-md-4">
        <label for="nis" class="form-label">Siswa</label>
        <select class="form-select" name="nis" id="nis" required>
            <option value="" disabled selected>Pilih Siswa</option>
            {% for siswa in siswa %}
                <option value="{{ siswa.nis }}">{{ siswa.nis }} - {{ siswa.nama }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-md-4">
        <label for="id_kelas" class="form-label">Kelas</label>
        <select class="form-select" name="id_kelas" id="id_kelas" required>
            <option value="" disabled selected>Pilih Kelas</option>
            {% for kelas in kelas %}
                <option value="{{ kelas.id_kelas }}">{{ kelas.id_kelas }} - {{ kelas.nama_kelas }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-md-4">
        <label for="id_tahun_akademik" class="form-label">Tahun Akademik</label>
        <select class="form-select" name="id_tahun_akademik" id="id_tahun_akademik" required>
            <option value="" disabled selected>Pilih Tahun Akademik</option>
            {% for tahun in tahunakademik %}
                <option value="{{ tahun.id_tahun_akademik }}">{{ tahun.tahun_akademik }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-md-4">
        <label for="nip" class="form-label">NIP Guru</label>
        <select class="form-select" name="nip" id="nip" required>
            <option value="" disabled selected>Pilih Guru</option>
            {% for guru in guru %}
                <option value="{{ guru.nip }}">{{ guru.nip }} - {{ guru.nama }}</option>
            {% endfor %}
        </select>
    </div>
{% endblock %}
{% block content %}

<div class="page-titles">
  <div class="row">
    <div class="col-lg-8 col-md-6 col-12 align-self-center">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0 d-flex align-items-center">
          <li class="breadcrumb-item">
            <a href="index.html" class="link">
              <i class="ri-home-3-line fs-5"></i>
            </a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Data {{title}}</li>
        </ol>
      </nav>
      <h1 class="mb-0 fw-bold">Data {{title}}</h1>
    </div>
	{% if btn_tambah %}
    <div class="col-lg-4 col-md-6 d-md-flex align-items-center justify-content-end">
		<button type="button" class="btn btn-info d-flex align-items-center ms-2" class="logout-button" data-bs-toggle="modal" data-bs-target="#tambahModal">
		  <i class="ri-add-line me-1"></i> Tambah Data
		</button>
    </div>
    {% endif %}
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
<!-- templates/crud/semester.html -->
<h4>Data Semester</h4>
<div class="table-responsive">
<table id="myTable" class="table table-stripped" >
    <thead>
        <tr>
            <th>ID Pembagian Kelas</th>
            <th>Tanggal</th>
            <th>NIS</th>
            <th>Nama Siswa</th>
            <th>ID Kelas</th>
            <th>Nama Kelas</th>
            <th>Tahun Akademik</th>
            <th>NIP</th>
            <th>Nama Guru</th>
            <th>Aksi</th>
        </tr>
    </thead>
    <tbody>
        {% for s in pembagian_kelas %}
        <tr>
            <td>{{ s.id_pembagian }}</td>
            <td>{{ s.tanggal }}</td>
            <td>{{ s.nis }}</td>
            <td>{{ s.siswa_rel.nama }}</td>
            <td>{{ s.id_kelas }}</td>
            <td>{{ s.kelas_rel.nama_kelas }}</td>
            <td>{{ s.ida_rel.tahun_akademik}}</td>
            <td>{{ s.nip }}</td>
            <td>{{ s.guru_rel.nama}}</td>
            <td >
            <div class="d-flex gap-2">
                <!-- Tombol aksi -->
                <button type="button" class="btn btn-warning btn-sm" onclick="openEditModal('{{ s.id_pembagian }}')">Edit</button>
                <button type="button" class="btn btn-danger btn-sm" onclick="deleteData('{{ s.id_pembagian }}')">Hapus</button>
            </div>
            </td>
        </tr>
		<!-- Modal Tambah -->
		<div class="modal fade" id="editModal-{{ s.id_pembagian }}" tabindex="-1" aria-labelledby="editLabel" aria-hidden="true">
		  <div class="modal-dialog  modal-lg"> 
			<div class="modal-content">
			  
			  <!-- Modal Header -->
			  <div class="modal-header">
				<h5 class="modal-title" id="editLabel">Edit {{title_data}}</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Tutup"></button>
			  </div>

			  <!-- Modal Body -->
			  <div class="modal-body">
				<form id="editForm-{{ s.id_pembagian }}">
						<input type="hidden" name="id_pembagian_old" value="{{ s.id_pembagian }}">
            <div class="mb-3">
                <label for="tanggal-{{ s.id_pembagian }}" class="form-label">Tanggal</label>
                <input type="date" name="tanggal" id="tanggal-{{ s.id_pembagian }}" value="{{ s.tanggal }}" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="nis-{{ s.id_pembagian }}" class="form-label">Siswa</label>
                <select name="nis" id="nis-{{ s.id_pembagian }}" class="form-select" required>
                {% for siswa in siswa %}
                    <option value="{{ siswa.nis }}" {% if siswa.nis == s.nis %}selected{% endif %}>{{ siswa.nis }} - {{ siswa.nama }}</option>
                {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="id_kelas-{{ s.id_pembagian }}" class="form-label">Kelas</label>
                <select name="id_kelas" id="id_kelas-{{ s.id_pembagian }}" class="form-select" required>
                {% for kelas in kelas %}
                    <option value="{{ kelas.id_kelas }}" {% if kelas.id_kelas == s.id_kelas %}selected{% endif %}>{{ kelas.id_kelas }} - {{ kelas.nama_kelas }}</option>
                {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="id_tahun_akademik-{{ s.id_pembagian }}" class="form-label">Tahun Akademik</label>
                <select name="id_tahun_akademik" id="id_tahun_akademik-{{ s.id_pembagian }}" class="form-select" required>
                {% for tahun in tahunakademik %}
                    <option value="{{ tahun.id_tahun_akademik }}" {% if tahun.id_tahun_akademik == s.id_tahun_akademik %}selected{% endif %}>{{ tahun.tahun_akademik }}</option>
                {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="nip-{{ s.id_pembagian }}" class="form-label">NIP Guru</label>
                <select name="nip" id="nip-{{ s.id_pembagian }}" class="form-select" required>
                {% for guru in guru %}
                    <option value="{{ guru.nip }}" {% if guru.nip == s.nip %}selected{% endif %}>{{ guru.nip }} - {{ guru.nama }}</option>
                {% endfor %}
                </select>
            </div>
				  <div class="modal-footer">
				  <button type="submit" id="tombol-edit-{{ s.id_pembagian }}" class="btn btn-success">Simpan</button>
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
				  </div>
				  
				</form>
			  </div>
			</div>
		  </div>
		</div>
				{% endfor %}
			</tbody>
		</table>
		</div>
		</div>
		</div>
		</div>
		</div>
		</div>
<script>
 $('#myTable').DataTable();
 </script>
<script>
// AJAX for Edit Semester (PUT)
{% for s in semester %}
document.getElementById("editForm-{{ s.id_pembagian }}").addEventListener("submit", function(event) {
    event.preventDefault();
    const form = this;
    const formData = new FormData(form);
    const data = {};
    formData.forEach((value, key) => {
        data[key] = value.trim();
    });
    const tombol = document.getElementById("tombol-edit-{{ s.id_pembagian }}");
    tombol.disabled = true;
    tombol.innerHTML = '<div class="spinner-border spinner-border-sm"></div>';
    const baseUrl = window.location.origin + window.location.pathname;
    $.ajax({
        url: baseUrl + '/edit/{{ s.id_pembagian }}',
        type: 'PUT',
        contentType: 'application/json',
        dataType: 'json',
        data: JSON.stringify(data),		
		xhrFields: {
			withCredentials: true
		},
        success: function (response) {
            tombol.innerHTML = "Simpan";
            tombol.disabled = false;
            alert(response.msg || "Berhasil update semester");
            window.location.reload();
        },
        error: function (xhr, status, error) {
            tombol.innerHTML = "Simpan";
            tombol.disabled = false;
            var errorTxt = "Server Error";
            if (xhr.responseJSON && xhr.responseJSON.error){
                errorTxt = xhr.responseJSON.error;
            }
            if (xhr.responseJSON && xhr.responseJSON.msg){
                errorTxt = xhr.responseJSON.msg;
            }
            alert(`Edit failed: ${errorTxt}`);
        }
    });
});
{% endfor %}

</script>
    
{% endblock %}