{% extends "layout.html" %}

{% block form_tambah %}
<div class="col-md-12">
          <input type="text" class="form-control" name="nip" placeholder="NIP" required>
        </div>
        <div class="col-md-12">
          <input type="text" class="form-control" name="username" placeholder="Username" required>
        </div>
        <div class="col-md-12">
          <input type="text" class="form-control" name="nama_lengkap" placeholder="Nama Lengkap" required>
        </div>
        <div class="col-md-12">
          <input type="text" class="form-control" name="inisial" placeholder="Inisial">
        </div>

        <div class="col-md-12">
          <input type="text" class="form-control" name="tempat_lahir" placeholder="Tempat Lahir" required>
        </div>
        <div class="col-md-12">
          <input type="date" class="form-control" name="tanggal_lahir" required>
        </div>
        <div class="col-md-12">
          <input type="text" class="form-control" name="alamat" placeholder="Alamat" required>
        </div>

        <div class="col-md-12">
          <input type="text" class="form-control" name="no_hp" placeholder="Nomor HP" required>
        </div>
        <div class="col-md-12">
          <input type="email" class="form-control" name="email" placeholder="Email" required>
        </div>
        <div class="col-md-12">
          <input type="text" class="form-control" name="spesialisasi" placeholder="Spesialisasi">
        </div>

        <div class="col-md-12">
          <select class="form-select" name="id_gender" required>
            <option value="" selected disabled>Pilih Gender</option>
            <option value="L">Laki-laki</option>
            <option value="P">Perempuan</option>
          </select>
        </div>

        <div class="col-md-12">
          <select class="form-select" name="id_status" required>
            <option value="" selected disabled>Pilih Status</option>
            <option value="1">Aktif</option>
            <option value="2">Non-Aktif</option>
          </select>
        </div>

        <div class="col-md-12">
          <input type="password" class="form-control" name="password" placeholder="Password" required>
        </div>

        <div class="col-md-12">
          <input type="password" class="form-control" name="re-password" placeholder="Ulangi Password" required>
        </div>
{% endblock %}
{% block content %}

<div class="page-titles">
  <div class="row">
    <div class="col-lg-8 col-md-6 col-12 align-self-center">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0 d-flex align-items-center">
          <li class="breadcrumb-item">
            <a href="index.html" class="link">
              <i class="ri-home-3-line fs-5"></i>
            </a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Data {{title}}</li>
        </ol>
      </nav>
      <h1 class="mb-0 fw-bold">Data {{title}}</h1>
    </div>
	{% if btn_tambah %}
    <div class="col-lg-4 col-md-6 d-md-flex align-items-center justify-content-end">
		<button type="button" class="btn btn-info d-flex align-items-center ms-2" class="logout-button" data-bs-toggle="modal" data-bs-target="#tambahModal">
		  <i class="ri-add-line me-1"></i> Tambah Data
		</button>
    </div>
    {% endif %}
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
<!-- templates/crud/Guru.html -->
<h4>Data Guru</h4>
<div class="table-responsive">
<table id="myTable" class="table table-stripped" >
    <thead>
        <tr>            
        <th>No</th>
            <th>Username</th>
            <th>nip</th>
            <th>inisial</th>
            <th style="width: 1120px">nama Lengkap</th>
            <th>tempat_lahir</th>
            <th>tanggal_lahir</th>
            <th style="width: 1120px">alamat</th>
            <th>no_hp</th>
            <th>email</th>
            <th>spesialisasi</th>
            <th>id_gender</th>
            <th>id_status</th>
            {%if session['role'] == 'admin' %}
            <th>Aksi</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for s in guru %}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{s.username}}</td>
            <td>{{s.nip}}</td>
            <td>{{s.inisial}}</td>
            <td>{{s.nama}}</td>
            <td>{{s.tempat_lahir}}</td>
            <td>{{s.tanggal_lahir}}</td>
            <td>{{s.alamat}}</td>
            <td>{{s.no_hp}}</td>
            <td>{{s.email}}</td>
            <td>{{s.spesialisasi}}</td>
            <td>{{s.gender}}</td>
            <td>{{s.status}}</td>
            {%if session['role'] == 'admin' %}
            <td >
            <div class="d-flex gap-2">
    <button class="btn btn-warning" onclick="openEditModal('{{ s.nip }}')">Edit</button>
   
    <form method="POST" action="/hapus_guru/{{ s.nip }}" onsubmit="return confirm('Yakin ingin menghapus data guru ini?')">
        <button class="btn btn-danger" type="submit">Hapus</button>
        </div>
        </td>
        {% endif %}
    </form>
   </tr>
		<!-- Modal Edit -->
		<div class="modal fade" id="editModal-{{ s.nip }}" tabindex="-1" aria-labelledby="editLabel" aria-hidden="true">
		  <div class="modal-dialog  modal-lg"> 
			<div class="modal-content">
			  
			  <!-- Modal Header -->
			  <div class="modal-header">
				<h5 class="modal-title" id="editLabel">Edit {{title_data}}</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Tutup"></button>
			  </div>

			  <!-- Modal Body -->
			  <div class="modal-body">
				<form id="editForm-{{ s.nip }}">
        <input type="hidden" name="nip" id="edit_nip">
         <input type="hidden" name="email" id="edit_email" required>
        <input type="hidden" name="nip" id="edit_nip" required>
       
        <label>Username:</label><br>
        <input class="form-control" type="text" name="username" id="edit_username" required><br>
        <label>Password Baru (opsional):</label><br>
        <input class="form-control" type="password" name="password"><br>
        <label>Role:</label><br>
        <select class="form-select form-control" name="role" id="edit_role" required>
            <option value="guru">Guru</option>
            <option value="admin">Admin</option>
        </select><br><br>
        
						<input type="hidden" name="nip_old" value="{{ s.nip }}">
						<label>nip: </label><input type="text" name="nip" value="{{ s.nip }}" class="form-control mb-3">
						<label>Nama guru:</label> <input type="text" name="nama_guru" value="{{ s.guru }}" class="form-control mb-3" required>
						
				  <div class="modal-footer"><button type="submit" id="tombol-edit-{{ s.nip }}" class="btn btn-success">Simpan</button>
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
				  </div>
				  
				</form>
			  </div>
			</div>
		  </div>
		</div>
				{% endfor %}
			</tbody>
		</table>
		</div>
		</div>
		</div>
		</div>
		</div>
		</div>
<script>
 $('#myTable').DataTable();
 </script>
<script>
// AJAX for Edit guru (PUT)
{% for s in guru %}
document.getElementById("editForm-{{ s.nip }}").addEventListener("submit", function(event) {
    event.preventDefault();
    const form = this;
    const formData = new FormData(form);
    const data = {};
    formData.forEach((value, key) => {
        data[key] = value.trim();
    });
    const tombol = document.getElementById("tombol-edit-{{ s.nip }}");
    tombol.disabled = true;
    tombol.innerHTML = '<div class="spinner-border spinner-border-sm"></div>';
    const baseUrl = window.location.origin + window.location.pathname;
    $.ajax({
        url: baseUrl + '/edit/{{ s.nip }}',
        type: 'PUT',
        contentType: 'application/json',
        dataType: 'json',
        data: JSON.stringify(data),		
		xhrFields: {
			withCredentials: true
		},
        success: function (response) {
            tombol.innerHTML = "Simpan";
            tombol.disabled = false;
            alert(response.msg || "Berhasil update guru");
            window.location.reload();
        },
        error: function (xhr, status, error) {
            tombol.innerHTML = "Simpan";
            tombol.disabled = false;
            var errorTxt = "Server Error";
            if (xhr.responseJSON && xhr.responseJSON.error){
                errorTxt = xhr.responseJSON.error;
            }
            if (xhr.responseJSON && xhr.responseJSON.msg){
                errorTxt = xhr.responseJSON.msg;
            }
            alert(`Edit failed: ${errorTxt}`);
        }
    });
});
{% endfor %}

</script>
    
{% endblock %}