{% extends "layout.html" %}

{% block content %}

<div class="page-titles">
  <div class="row">
    <div class="col-lg-8 col-md-6 col-12 align-self-center">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0 d-flex align-items-center">
          <li class="breadcrumb-item">
            <a href="index.html" class="link">
              <i class="ri-home-3-line fs-5"></i>
            </a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Data {{title}}</li>
        </ol>
      </nav>
      <h1 class="mb-0 fw-bold">Data {{title}}</h1>
    </div>
	{% if btn_tambah %}
    <div class="col-lg-4 col-md-6 d-md-flex align-items-center justify-content-end">
		<button type="button" class="btn btn-info d-flex align-items-center ms-2" class="logout-button" data-bs-toggle="modal" data-bs-target="#tambahModal">
		  <i class="ri-add-line me-1"></i> Tambah Data
		</button>
    </div>
    {% endif %}
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">

<h2>Data Berita</h2>
<div class="table-responsive">
  <table id="myTable" class="table table-striped mt-4">
            <thead class="table-info">
    <tr>
      <th>No</th>
      <th>Judul</th>
      <th>Isi</th>
      <th>Pengumuman untuk</th>
    </tr>
  </thead>
  <tbody>
    {% for s in berita %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ s.judul }}</td>
      <td>{{ s.isi }}</td>
      <td>{{ s.pengumuman_untuk }}</td>
    
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</div>
<script>
 $('#myTable').DataTable();
 </script>
{% endblock %}
