{% extends "layout.html" %}

{% block content %}
<h2>Data Kehadiran Anda</h2>
<table>
    <thead>
        <tr>
            <th>Nama Murid</th>
            <th>Tanggal</th>
            <th>Mata Pelajaran</th>
            <th>Nama Kelas</th>
            <th>Tingkat</th>
            <th>Materi</th>
            <th>Keterangan</th>
        </tr>
    </thead>
    <tbody>
        {% for i in kehadiran_list %}
        <tr>
            <td>
                {{ i.nama_lengkap}}
            </td>
            <td>{{ i.tanggal }}</td>
            <td>{{ i.nama_mapel }}</td>
            <td>{{ i.nama_kelas }}</td>
            <td>{{ i.tingkat }}</td>
            <td>{{ i.materi }}</td>
            <td>{{ i.keterangan }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}