<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftar Hadir Siswa</title>
    <!-- Tambahkan link CSS DataTables -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <!-- Tambahkan link jQuery dan DataTables JavaScript -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="/static/style_base.css">
</head>

<body>
    <header>
        <div class="d-flex">
        <div class="menu-container">
        <button class="logout-button" onclick="location.href='/'">Menu</button>
        </div>
        <div class="logout-container">
        <button class="logout-button" onclick="handleLogout()">Logout</button>
        </div>
        </div>
        <h1>Daftar Hadir MTs Al Huda Reban</h1>
        <h3>Tahun Pelajaran 2024/2025 - Semester Genap</h3>
    </header>
    <div class="body-container">
    <div class="container">
        <h2>Daftar Hadir Anda</h2>

        <!-- Daftar Kehadiran -->
        <div class="table-container">
                <table id="attendanceTable">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Nama Siswa</th>
                            <th>Kelas</th>
                            <th>Tanggal</th>
                            <th>Status</th>
                            <th>Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in attendance %}
                        <tr data-id="{{ item._id }}">
                            <td>{{ loop.index }}</td>
                            <td>{{ item.studentName }}</td>
                            <td>{{ item.class }}</td>
                            <td>{{ item.date }}</td>
                            <td class="status-{{ item.status | lower }}">{{ item.status }}</td>
                            <td>
                                <button class="status-sakit btn btn-warning edit-button">Edit</button>
                                <button class="status-alpa btn btn-danger delete-button">Hapus</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

    </div>
    </div>
    
    <script src="/static/script_footer.js"></script>
</body>

</html>