{% extends 'include/include.html' %} 
{% block head %}
 <link
      rel="stylesheet"
      href="../../static/assets/libs/apexcharts/dist/apexcharts.css"
    />
<style>
  .table-responsive {
    overflow-x: auto; /* Menambahkan scroll horizontal jika diperlukan */
  }
  
  #sales-overview {
    max-width: 100%; /* Membatasi lebar maksimum sesuai dengan ukuran container */
    height: 300px; /* Sesuaikan tinggi grafik sesuai kebutuhan */
  }
</style>
{% endblock %}
{% block content %}
 
<div class="container-fluid">
  <div class="row">
   
    <div class="col-lg-6 col-md-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title"></h4>
          <h2 class="fw-bold"></h2>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
      
      <!-- Column -->
      <div class="col-lg-6">
              <div
                class="card welcome-card overflow-hidden bg-light-info border-0" 
              >
                <div class="card-body">
                  <h3 class="text-primary position-relative">
                    Download latest report
                  </h3>
                  <a href="/admin/latest_penerimaan" class="btn btn-info mb-4 mt-3 mr-3 position-relative"
                    >Report Penerimaan</a
                  > <a href="/admin/latest_pengeluaran" class="btn btn-info mb-4 mt-3 mr-3 position-relative"
                    >Report pengeluaran</a
                  >
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-12 d-flex align-items-stretch" >
                  <!-- earnings card -->
                  <div class="card bg-primary w-100">
                    <div class="card-body">
                      <div class="d-flex align-items-center">
                        <h4 class="card-title text-white">Cash Flow</h4>
                        <div class="ms-auto">
                          <span
                            class="
                              btn btn-lg btn-info btn-circle
                              d-flex
                              align-items-center
                              justify-content-center
                            "
                          >
                            <i data-feather="dollar-sign"></i>
                          </span>
                        </div>
                      </div>
                      <div class="mt-3">
                        <h2 class="fs-8 text-white mb-0"></h2>
                        <span class="text-white op-5">Monthly revenue</span>
                      </div>
                    </div>
                  </div>
                </div>
			</div>
			<!-- Card: Status Persediaan -->
			<!-- <div class="row"> -->
			  <!-- <div class="col-12 col-md-12 d-flex align-items-stretch"> -->
				<!-- <div class="card bg-light-warning w-100"> -->
				  <!-- <div class="card-body"> -->
					<!-- <div class="d-flex align-items-center"> -->
					  <!-- <h4 class="card-title text-dark">Status Persediaan Barang</h4> -->
					  <!-- <div class="ms-auto"> -->
						<!-- <span -->
						  <!-- class="btn btn-warning btn-circle d-flex align-items-center justify-content-center" -->
						<!-- > -->
						  <!-- <i data-feather="alert-triangle"></i> -->
						<!-- </span> -->
					  <!-- </div> -->
					<!-- </div> -->
					<!-- <div class="mt-3"> -->
					  <!-- <ul class="list-group"> -->
						<!-- {% for item in barang_menipis %} -->
						<!-- <li class="list-group-item d-flex justify-content-between align-items-center"> -->
						  <!-- {{ item.nama_barang }} -->
						  <!-- <span class="badge bg-danger text-white">{{ item.stok }} unit</span> -->
						<!-- </li> -->
						<!-- {% else %} -->
						<!-- <li class="list-group-item text-muted"> -->
						  <!-- Semua barang dalam stok aman. -->
						<!-- </li> -->
						<!-- {% endfor %} -->
					  <!-- </ul> -->
					<!-- </div> -->
				  <!-- </div> -->
				<!-- </div> -->
			  <!-- </div> -->
			<!-- </div> -->

      </div>
      <div class="col-lg-6">
              <div class="card w-100">
                <div class="card-body">
                  <div class="d-md-flex align-items-center">
                    <div>
                      <h3 class="card-title">Sales Overview</h3>
                      <h6 class="card-subtitle">Perbulan</h6>
                    </div>
                    <div class="ms-auto">
                      <ul class="list-style-none">
                        <li class="list-inline-item text-primary">
                          <i
                            class="ri-checkbox-blank-circle-fill fs-1 me-1"
                          ></i>
                          Target
                        </li>
                        <li class="list-inline-item text-danger">
                          <i class="ri-checkbox-blank-circle-fill fs-1 me-1"></i
                          >Performa
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div id="sales-overview" class="mt-4"></div>
                </div>
              </div>
      </div>
      <!-- column -->

      <div class="col-lg-12 d-flex align-items-stretch">
        <div class="card w-100">
          <div class="card-body">
            <h4 class="card-title">Barang Masuk Terbaru</h4>
            <div class="table-responsive">
              <table class="table w-100 table-bordered">
                <thead>
                  <tr>
                    <th>No</th>
                    <th>Tanggal Faktur</th>
                    <th>Nama Barang</th>
                    <th>Jumlah</th>
                    <th>Harga Total</th>
                  </tr>
                </thead>
				 <tbody>
				</tbody>

              </table>
            </div>
          </div>
        </div>
      </div>
  </div>
<!--This page JavaScript -->
    <script src="../../static/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
    <!-- Chart JS -->
    <script >
    // -------------------------------------------------------------------------------------------------------------------------------------------
// Dashboard 1 : Chart Init Js
// -------------------------------------------------------------------------------------------------------------------------------------------
$(function () {
  ("use strict");

  // -----------------------------------------------------------------------
  // Our visitor
  // -----------------------------------------------------------------------

  // -----------------------------------------------------------------------
  // Recent orders
  // -----------------------------------------------------------------------
  const data = "{{target_sales}}"
  console.log(data)
  const data_target = '[{% for i in target_sales %}{% if loop.index == 1 %} {% else %}, {% endif %}{{i["target"]}}{% endfor %}]'
  const data_sales = '[{% for i in target_sales %}{% if loop.index == 1 %} {% else %}, {% endif %}"{{i["nama_sales"]}}"{% endfor %}]'
  const data_realtime = '[{% for i in target_sales %}{% if loop.index == 1 %} {% else %}, {% endif %}{{i["data_realtime"]}}{% endfor %}]'
  console.log(data_realtime)
  console.log(data_target)
  console.log(JSON.parse(data_target))
  const maxData = Math.max(...JSON.parse(data_target), ...JSON.parse(data_realtime));
  const chartMax = maxData + 50000000; // tambahkan buffer biar gak mentok

  var option_sales_overview = {
    series: [
      {
        name: "Target",
        data: JSON.parse(data_target),
      },
      {
        name: "Performa Real Time",
        data: JSON.parse(data_realtime),
      },
    ],
    chart: {
      type: "bar",
      height: 260,
      offsetX: -15,
      toolbar: {
        show: false,
      },
      foreColor: "#adb0bb",
      fontFamily: "DM sans",
      sparkline: {
        enabled: false,
      },
	  height: 450,
	  zoom: {
		enabled: true
	  },
    },
    grid: {
      show: false,
      borderColor: "transparent",
      padding: {
        left: 0,
        right: 0,
        bottom: 0,
      },
    },
    plotOptions: {
      bar: {
        horizontal: false,
        columnWidth: "42%",
        endingShape: "rounded",
        borderRadius: 5,
      },
    },

    colors: ["#1e4db7", "#fc4b6c"],
    fill: {
      type: "solid",
      opacity: 1,
    },
    markers: {
      size: 0,
    },
    legend: {
      show: false,
    },
    xaxis: {
      type: "category",
      categories: JSON.parse(data_sales),
    },
	yaxis: {
	  show: true,
	  min: 0,
	  max: chartMax,
	  tickAmount: 4,
	},
  dataLabels: {
    enabled: false,
  },

    stroke: {
      show: true,
      width: 5,
      lineCap: "butt",
      colors: ["transparent"],
    },
    tooltip: {
      theme: "light",
	   y: {
    formatter: function (val) {
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
    }
  }
    }

  };

  var chart_sales_overview = new ApexCharts(
    document.querySelector("#sales-overview"),
    option_sales_overview
  );
  chart_sales_overview.render();

  // -----------------------------------------------------------------------
  // Total Sales
  // -----------------------------------------------------------------------
  var option_total_sales = {
    series: [25, 25, 25, 25],
    labels: ["2021", "2020", "2019", "2018"],
    chart: {
      height: 280,
      type: "donut",
      foreColor: "#adb0bb",
      fontFamily: "DM sans",
    },
    colors: ["#1a9bfc", "#1e4db7", "#fec90f", "#ecf0f2"],
    dataLabels: {
      enabled: false,
    },
    legend: {
      show: false,
      // position: "bottom",
      // fontSize: "16px",
      // labels: {
      //   colors: ["#777e89"],
      // },
      // markers: {
      //   width: 8,
      //   height: 8,
      // },
    },
    grid: {
      show: false,
      borderColor: "transparent",
      padding: {
        top: 0,
        right: 0,
      },
    },
    stroke: {
      colors: ["transparent"],
    },
    plotOptions: {
      pie: {
        donut: {
          size: "78%",
          background: "transparent",
          labels: {
            show: false,
            name: {
              show: true,
              fontSize: "18px",
              color: undefined,
              offsetY: -10,
            },
            value: {
              show: false,
              color: "#98aab4",
            },
            total: {
              show: false,
              label: "Our Visitors",
              color: "#98aab4",
            },
          },
        },
      },
    },
    tooltip: {
      theme: "dark",
      fillSeriesColor: false,
    },
  };

  var chart_total_sales = new ApexCharts(
    document.querySelector("#total-sales"),
    option_total_sales
  );
  chart_total_sales.render();

});
</script>
{% endblock %}