<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input Kehadiran</title>
    <!-- Tambahkan link CSS DataTables -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <!-- Tambahkan link jQuery dan DataTables JavaScript -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="/static/style_base.css">
</head>

<body>

    <header>
        <div class="d-flex">
        <div class="menu-container">
        <button class="logout-button" onclick="location.href='/'">Menu</button>
        </div>
        <div class="logout-container">
        <button class="logout-button" onclick="handleLogout()">Logout</button>
        </div>
        </div>
        <h1>Input Kehadiran MTs Al Huda Reban</h1>
        <h3 id="tahunPelajaran">Tahun Pelajaran 2024/2025 - Semester Genap</h3>
    </header>
<div class="body-container">
    <div class="container">
        <h2>Input Kehadiran</h2>
        <form id="attendanceForm">
            <div class="form-group">
                <label for="studentName">Nama Siswa:</label>
                <select id="studentName" required>
                    <option value="">Pilih Nama Siswa</option>
                    {% for itemm in users %}
                    <option>{{ itemm.nama_lengkap }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="class">Kelas:</label>
                <select id="class" required>
                    <option value="">Pilih Kelas</option>
                    {% for item in kelas %}
                    <option>{{ item.nama }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="date">Tanggal:</label>
                <input type="date" id="date" required>
            </div>
            <div class="form-group">
                <label for="status">Status Kehadiran:</label>
                <select id="status" required>
                    <option value="Hadir">Hadir</option>
                    <option value="Sakit">Sakit</option>
                    <option value="Izin">Izin</option>
                    <option value="Alpa">Alpa</option>
                </select>
            </div>
            <button class="button-submit" type="submit">Tambah Kehadiran</button>
        </form>

        <div class="table-container table-responsive">
            <table id="attendanceTable" >
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Nama Siswa</th>
                        <th>Kelas</th>
                        <th>Tanggal</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in attandance %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ item.nama_siswa }}</td>
                            <td>{{ item.kelas }}</td>
                            <td>{{ item.tanggal }}</td>
                            <td>{{ item.status }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
    <script src="/static/script_footer.js"></script>
    <script>
        document.getElementById("attendanceForm").addEventListener("submit", function(event) {
            event.preventDefault();

            const studentName = document.getElementById("studentName").value;
            const studentClass = document.getElementById("class").value;
            const date = document.getElementById("date").value;
            const status = document.getElementById("status").value;

        });
         $('#attendanceTable').DataTable({
            "paging": true,       // Mengaktifkan pagination
            "searching": true,    // Mengaktifkan fitur pencarian
            "info": true,         // Menampilkan info jumlah data
            "ordering": true      // Mengaktifkan fitur sorting
        });     

    </script>
</body>

</html>