<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jadwal Pelajaran MTs Al Huda Reban</title>
    <!-- Tambahkan link CSS DataTables -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <!-- Tambahkan link jQuery dan DataTables JavaScript -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="/static/style_base.css">
</head>

<body>
    <header>
        <div class="d-flex">
        <div class="menu-container">
        <button class="logout-button" onclick="location.href='/'">Menu</button>
        <button style="width: 150px !important;" class="logout-button" onclick="openHapusModal()">Hapus Data</button>
        </div>
        <div class="logout-container">
        <button class="logout-button" onclick="handleLogout()">Logout</button>
        </div>
        </div>
        <h1>Manage Jadwal Pelajaran MTs Al Huda Reban</h1>
        <h3 id="tahunPelajaran">Tahun Pelajaran 2024/2025 - Semester Genap</h3>
    </header>

<div class="body-container">
    <div class="container">
    <div class="form-container">
        <h2>Tambah/Ubah Jadwal</h2>
        <form id="scheduleForm">
            <div class="form-group">
                <label for="day">Hari:</label>
                <select id="day" required>
                    <option value="Senin">Senin</option>
                    <option value="Selasa">Selasa</option>
                    <option value="Rabu">Rabu</option>
                    <option value="Kamis">Kamis</option>
                    <option value="Jumat">Jum'at</option>
                    <option value="Sabtu">Sabtu</option>
                </select>
            </div>
            <div class="form-group">
                 <label for="time">Waktu:</label>
                <input type="text" id="time" placeholder="Contoh: 07:00 - 08:00" required>
            </div>
            <div class="form-group">
                <label for="period">Periode Ke:</label>
                <input type="number" id="period" min="1" placeholder="Contoh: 1" required>
            </div>

            <div class="form-group">
                <label for="subject">Kelas 7A:</label>
                <select id="7Aguru" required>
                    <option value="">Pilih Guru</option>
                    {% for item in kode_guru %}
                    <option value = "{{item.inisial}}">{{item.inisial}} | {{item.nama}}</option>
                    {% endfor %}
                </select><hr>
                <select id="7Amapel" required>
                    <option value="">Pilih Mapel</option>
                    {% for item in kode_mapel %}
                    <option value = "{{item.id_mapel}}">{{item.id_mapel}} | {{ item.nama }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="subject">Kelas 7B:</label>
                <select id="7Bguru" required>
                    <option value="">Pilih Guru</option>
                    {% for item in kode_guru %}
                    <option value = "{{item.inisial}}">{{item.inisial}} | {{item.nama}}</option>
                    {% endfor %}
                </select><hr>
                <select id="7Bmapel" required>
                    <option value="">Pilih Mapel</option>
                    {% for item in kode_mapel %}
                    <option value = "{{item.id_mapel}}">{{item.id_mapel}} | {{ item.nama }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="subject">Kelas 7C:</label>
                <select id="7Cguru" required>
                    <option value="">Pilih Guru</option>
                    {% for item in kode_guru %}
                    <option value = "{{item.inisial}}">{{item.inisial}} | {{item.nama}}</option>
                    {% endfor %}
                </select><hr>
                <select id="7Cmapel" required>
                    <option value="">Pilih Mapel</option>
                    {% for item in kode_mapel %}
                    <option value = "{{item.id_mapel}}">{{item.id_mapel}} | {{ item.nama }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="subject">Kelas 8A:</label>
                <select id="8Aguru" required>
                    <option value="">Pilih Guru</option>
                    {% for item in kode_guru %}
                    <option value = "{{item.inisial}}">{{item.inisial}} | {{item.nama}}</option>
                    {% endfor %}
                </select><hr>
                <select id="8Amapel" required>
                    <option value="">Pilih Mapel</option>
                    {% for item in kode_mapel %}
                    <option value = "{{item.id_mapel}}">{{item.id_mapel}} | {{ item.nama }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="subject">Kelas 8B:</label>
                <select id="8Bguru" required>
                    <option value="">Pilih Guru</option>
                    {% for item in kode_guru %}
                    <option value = "{{item.inisial}}">{{item.inisial}} | {{item.nama}}</option>
                    {% endfor %}
                </select><hr>
                <select id="8Bmapel" required>
                    <option value="">Pilih Mapel</option>
                    {% for item in kode_mapel %}
                    <option value = "{{item.id_mapel}}">{{item.id_mapel}} | {{ item.nama }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="subject">Kelas 8C:</label>
                <select id="8Cguru" required>
                    <option value="">Pilih Guru</option>
                    {% for item in kode_guru %}
                    <option value = "{{item.inisial}}">{{item.inisial}} | {{item.nama}}</option>
                    {% endfor %}
                </select><hr>
                <select id="8Cmapel" required>
                    <option value="">Pilih Mapel</option>
                    {% for item in kode_mapel %}
                    <option value = "{{item.id_mapel}}">{{item.id_mapel}} | {{ item.nama }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="subject">Kelas 9A:</label>
                <select id="9Aguru" required>
                    <option value="">Pilih Guru</option>
                    {% for item in kode_guru %}
                    <option value = "{{item.inisial}}">{{item.inisial}} | {{item.nama}}</option>
                    {% endfor %}
                </select><hr>
                <select id="9Amapel" required>
                    <option value="">Pilih Mapel</option>
                    {% for item in kode_mapel %}
                    <option value = "{{item.id_mapel}}">{{item.id_mapel}} | {{ item.nama }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="subject">Kelas 9B:</label>
                <select id="9Bguru" required>
                    <option value="">Pilih Guru</option>
                    {% for item in kode_guru %}
                    <option value = "{{item.inisial}}">{{item.inisial}} | {{item.nama}}</option>
                    {% endfor %}
                </select><hr>
                <select id="9Bmapel" required>
                    <option value="">Pilih Mapel</option>
                    {% for item in kode_mapel %}
                    <option value = "{{item.id_mapel}}">{{item.id_mapel}} | {{ item.nama }}</option>
                    {% endfor %}
                </select>
            </div>
            <button class="button-submit" type="submit">Submit</button>
        </form>

    </div>
</div>
</div>
 <h1> Jadwal Pelajaran</h1>

    <table class="container-table"id="scheduleTable">
        <thead>
            <tr>
                <th>Hari</th>
                <th>Waktu</th>
                <th>Jam Ke</th>
                {% for item in kelas %}
                <th>{{ item.nama_kelas }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
	<div class="container-keterangan" >
    <h2>Daftar Guru</h2>
<ul>
  {% for guru in kode_guru %}
    <li>{{ guru.inisial }} : {{ guru.nama }}</li>
  {% endfor %}
</ul>

<h2>Daftar Mapel</h2>
<ul style="margin-bottom:100px">
  {% for mapel in kode_mapel %}
    <li>{{ mapel.id_mapel }} : {{ mapel.nama }}</li>
  {% endfor %}
</ul>
</div>
    </div>

    <script src="/static/script_footer.js"></script>
      <!-- Modal Tambah -->
<div id="HapusModal" style="display:none; position:fixed; top:50%; left:50%; transform:translate(-50%, -50%); z-index:999; background:#fff; padding:0; border-radius:12px; box-shadow:0 0 20px rgba(0,0,0,0.3); max-width: 1000px; width: 95%; max-height: 90vh; flex-direction: column;">

  <!-- Header (Optional) -->
  <div style="padding: 20px; height: 30px !important; border-bottom: 1px solid #ddd;">
    <h4 class="text-center mb-3">Hapus Jadwal</h4>
  </div>

  <!-- Scrollable Content -->
  <div style="padding: 20px; overflow-y: auto; flex: 1;">
    <form id="deleteForm">
      <div class="row g-3">
        <div class="col-md-4">
            <label for="day"> Pilih Hari: </label>
          <select name="day" required>
                    <option value="Senin">Senin</option>
                    <option value="Selasa">Selasa</option>
                    <option value="Rabu">Rabu</option>
                    <option value="Kamis">Kamis</option>
                    <option value="Jumat">Jum'at</option>
                    <option value="Sabtu">Sabtu</option>
            </select>
        </div>
        <div class="col-md-4">
            <label for="day"> Periode ke: </label>
          <input type="number" class="form-control" name="period" required>
        </div>
      </div>
    </form>
  </div>

  <!-- Footer dengan tombol -->
  <div style="padding: 15px; border-top: 1px solid #ddd; text-align: right;">
    <button type="submit" id="tombolhapus" class="btn btn-danger" form="deleteForm">Hapus</button>
    <button type="button" class="btn btn-secondary" onclick="closeHapusModal()">Batal</button>
  </div>
</div>
<script>
    
function closeHapusModal() {
    document.getElementById('HapusModal').style.display = 'none';
}
function openHapusModal(nip) {
    document.getElementById('HapusModal').style.display = 'block';
}
document.getElementById("tombolhapus").addEventListener("click", function(event) {
            event.preventDefault(); // Prevent form from submitting traditionally
             const form = document.getElementById("deleteForm");
            const formData = new FormData(form);
            const data = {};

            formData.forEach((value, key) => {
                data[key] = value.trim();
            });

            document.getElementById("tombolhapus").disabled = true;
            document.getElementById("tombolhapus").innerHTML = '<div class="loader" id="loader"></div>';
           
             $.ajax({
                    url: '/hapus_jadwal',
                    type: 'DELETE',
                    contentType: 'application/json',
                    dataType: 'json',
                    data: JSON.stringify(data),
                    success: function (response) {
                        const token = response.msg;
                        if (token) {
                        // Redirect to the dashboard if credentials are correct
                        document.getElementById("tombolhapus").innerHTML = "Hapus";
                        alert(response.msg);
                        window.location.href = "./"; // Redirect to login
                        document.getElementById("tombolhapus").disabled = false;
                        } else {
                            // Show an error message 
                            document.getElementById("tombolhapus").disabled = false;
                            document.getElementById("tombolhapus").innerHTML = "Hapus";
                            console.log(response)
                            const error = response.error;
                            alert(error);
                        }
                    },
                    error: function (xhr, status, error) {
                            document.getElementById("tombolhapus").disabled = false;
                            document.getElementById("tombolhapus").innerHTML = "Hapus";
                            console.log(status)
                            var errorTxt = "Server Error";
                            if (xhr.responseJSON.error){
                                errorTxt = xhr.responseJSON.error;
                            }
                            if (xhr.responseJSON.msg){
                                errorTxt = xhr.responseJSON.msg;
                            }
                            alert(`Hapus Data Gagal: ${errorTxt}`);
                        }
                });
           
        });
const scheduleForm = document.getElementById('scheduleForm');
// Fungsi untuk menambah atau mengupdate jadwal
scheduleForm.addEventListener('submit', async (e) => {
    e.preventDefault();

    const day = document.getElementById('day').value;
    const time = document.getElementById('time').value;
    const period = parseInt(document.getElementById('period').value, 10);
    const subject = [
        document.getElementById('7Amapel').value+' - '+document.getElementById('7Aguru').value,
        document.getElementById('7Bmapel').value+' - '+document.getElementById('7Bguru').value,
        document.getElementById('7Cmapel').value+' - '+document.getElementById('7Cguru').value,
        document.getElementById('8Amapel').value+' - '+document.getElementById('8Aguru').value,
        document.getElementById('8Bmapel').value+' - '+document.getElementById('8Bguru').value,
        document.getElementById('8Cmapel').value+' - '+document.getElementById('8Cguru').value,
        document.getElementById('9Amapel').value+' - '+document.getElementById('9Aguru').value,
        document.getElementById('9Bmapel').value+' - '+document.getElementById('9Bguru').value,

    ]

    // Validasi input
    if (!day || !time || !subject || isNaN(period) || period < 1) {
        alert('Harap isi semua field dengan benar!');
        return;
    }

    // Format validasi waktu (HH:MM - HH:MM)
    const timeFormat = /^\d{2}:\d{2} - \d{2}:\d{2}$/;
    if (!timeFormat.test(time)) {
        alert('Format waktu harus "HH:MM - HH:MM"');
        return;
    }

    const formData = { day, time, period, subject };

    try {
        const response = await fetch('/tambah_ubah_jadwal', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': localStorage.getItem('authToken')
            },
            body: JSON.stringify(formData),
        });

        if (response.ok) {
            alert('Jadwal berhasil disimpan!');
            location.reload();
        } else {
            const error = await response.json();
            alert(`Gagal menyimpan jadwal: ${error.message}`);
        }
    } catch (error) {
        console.error('Error:', error);
        alert('Terjadi kesalahan saat menyimpan jadwal.');
    }
});

    const scheduleTable = document.getElementById('scheduleTable').getElementsByTagName('tbody')[0];
    const schedule = {{ schedule | tojson | safe }};
    console.log(schedule); // sudah berupa object/array JS, tidak perlu parse lagi
const jumlah_kelas = document.querySelectorAll("#scheduleTable thead tr th").length - 3;

schedule.forEach(day => {
    day.sessions.forEach((session, index) => {
        const row = document.createElement('tr');

        if (index === 0) {
            const dayCell = document.createElement('td');
            dayCell.rowSpan = day.sessions.length;
            dayCell.innerText = day.day;
            row.appendChild(dayCell);
        }

        const timeCell = document.createElement('td');
        timeCell.innerText = session.time;
        row.appendChild(timeCell);

        if (session.period === 7) {
			const periodCell = document.createElement('td');
			periodCell.innerText = "ISTIRAHAT";
			row.appendChild(periodCell);

			const istirahatCell = document.createElement('td');
			istirahatCell.colSpan = jumlah_kelas;
			istirahatCell.innerText = ""; // kosong atau bisa isi "—"
			row.appendChild(istirahatCell);
		}
		else {
            // Normal: period + subjects
            const periodCell = document.createElement('td');
            periodCell.innerText = session.period;
            row.appendChild(periodCell);

            session.subjects.some(subject => {
                const subjectCell = document.createElement('td');
                subjectCell.innerText = subject;

                if (subject === "Upacara") {
                    subjectCell.colSpan = "8";
                    row.appendChild(subjectCell);
                    return true; // stop loop
                } else {
                    row.appendChild(subjectCell);
                }
            });
        }

        scheduleTable.appendChild(row);
    });
});


    // Data JSON
    var kode_mapel = {{ kode_mapel | tojson | safe }};
    var kode_guru = {{ kode_guru | tojson | safe }};

    // Fungsi untuk menampilkan data
    function renderList(title, items) {
        const container = document.getElementById('container-keterangan');
        const heading = document.createElement('h2');
        heading.innerText = title;
        container.appendChild(heading);

        const list = document.createElement('ul');
        items.forEach(item => {
            const listItem = document.createElement('li');
            const [key, value] = Object.entries(item)[0];
            listItem.innerText = `${key}: ${value}`;
            list.appendChild(listItem);
        });
        container.appendChild(list);
    }

    // Render kedua list
</script>

</body>

</html>